/* スタイル調整 */
html {
  height: 100%;
}

body {
  align-content: center;
  background-color: white;
  gap: 42px;
  justify-items: center;
  height: 100%;
}

.input-wrapper {
  align-content: center;
  color: black;
  gap: 4px;
  padding: 16px;
  height: 10%;
}

input[type="datetime-local"] {
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 12px;
}

.countdown-wrapper {
  align-content: center;
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  height: 110%;
  
  & > .time {
    border-radius: 8px;
    /*background: linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(0, 0, 0, .5);*/
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    min-width: 48px;
    min-height: 48px;
    display: grid;
    place-items: center;
    padding: 4px;
    margin-left: 12px;
  }
  & > .unit {
    margin-left: 4px;
  }
}
