/* スタイル調整 */
body {
  align-content: center;
  background-color: white;
  color: white;
  gap: 42px;
}

.input-wrapper {
  background-color: rgb(128 128 128 / .2);
  border: 1px solid rgb(255 255 255 / .4);
  border-radius: 24px;
  display: grid;
  gap: 4px;
  padding: 16px;
}

input[type="datetime-local"] {
  border: none;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(0, 0, 0, .5);
  font-size: 16px;
  padding: 8px 12px;
}

.countdown-wrapper {
  align-items: flex-end;
  background-color: rgb(128 128 128 / .2);
  border: 1px solid rgb(255 255 255 / .4);
  border-radius: 24px;
  display: flex;
  padding: 12px 16px;
  
  & > .time {
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(0, 0, 0, .5);
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    min-width: 48px;
    min-height: 48px;
    display: grid;
    place-items: center;
    padding: 4px;
    margin-left: 12px;
  }
  & > .unit {
    margin-left: 4px;
  }
}
